@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ;
}

svg{

 width: 100vh;
 z-index: 4;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #161616;
}

.logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h5{
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    width: 40%;
}
canvas{
    /* filter: saturate(0); */
    position: absolute;
    width: 100%;
    height: 100%;

}

nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    color: #000000;
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #3a3e74;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #124958;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* nav{
    border-top: solid 1px #000000;
    z-index: 10;
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
}
li{
    list-style: none;
    font-size: 15px; 
    cursor: pointer;
}

nav a{
    text-decoration: none;
    color: #000000;
    transition-duration: 0.5s;
} */
header .nom img{
    width: 80%;
    height: 80%;
    
}

.me h1{
    color: white;
    font-size: 900%;
}
.me h2{
    color: white;
    font-size: 400%;
}
.me{

    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .reseaux{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 70%;
  }
  header .reseaux a{
    width: 30px;
    height: 30px;
}
header .reseaux img{
    width: 80px;
    height: 80px;
}
.nom{
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.photo-moi{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 2;
}
.photo-moi video{
    /* border: white 3px solid; */
    transform: rotate(-10deg);
    height: 50%;
    width: 50%;
    
    filter: hue-rotate(60deg);

}
.me-image{
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    width: 40%;
    height: 60%;
}
.me .me-image img{
    height: 100%;
    width: 70%;
    z-index: 10;
}


/* .me p {
    color: #ffffff;
    font-size: 300%;
} */
.wave-header, .wave-aboutme, .wave-project{
    position: absolute;
    z-index: 1;
    width: 100%;
}


.aboutme{
    z-index: 2;
    background-color: #2d2d31;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-me{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    padding:5%;
}
.container-me2{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 15px;
grid-row-gap: 10px;
    width: 70%;
    height: 100%;
}
.container-me2 .titre-me{
    z-index: 10;
    grid-column: 1/5;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}
.container-me2 .titre-me img{
    z-index: 10;
    margin-left: 8%;
    width: 100%;
    height: 80%;
}
.container-me2 img{
    z-index: 0;
    width: 100%;
    height: 80%;
    grid-column: 4/6;
    grid-row: 1/7;
    margin-top: 5%;
}
.texte1{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: -10%;
    width: 90%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 3/6;
}



/* grid de la home page portfolio  */

.portfolio{
    background-color: #2d2d31;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vw;
}
.portfolio-home{
    display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
width: 80%;
height: 100%;
}
.portfolio-titre{
    grid-column: 1/5;
    grid-row: 1/3;
}
.portfolio-titre img{
    width: 100%;
    height: 100%;
}
.box1{
    background-image: url("img/box1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 5/7;
    grid-row: 1/6;
}
.box2{
    background-image: url("img/box2.png");
    background-repeat: no-repeat;
    background-size: auto;
    grid-column: 1/5;
    grid-row: 3/5;
}
.box3{
    background-image: url("img/box3.png");
    background-repeat: no-repeat;
    background-size: 90%;
    grid-column: 1/3;
    grid-row: 5/7;
}
.box4{
    background-image: url("img/box4.png");
    background-repeat: no-repeat;
    background-size: 90%;
    grid-column: 3/5;
    grid-row: 5/7;
}
.box5{
    background-image: url("img/box5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    grid-column: 5/7;
    grid-row: 6/7;
}
.box6{
    background-image: url("img/box6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/5;
    grid-row: 7/9;
}
.box7{
    background-image: url("img/box7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    grid-column: 5/7;
    grid-row: 7/9;
}

h6{
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-bottom: 5%;
}
h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
 h4{
    color: #747cdf;
    font-size: 21px;
    margin-bottom: 5%;
 }
 h2{
    color: #747cdf;
    font-size: 55px;
    margin-bottom: 1%;
 }
 p{
    color: #c9c9c9;
    font-size: 14px;
 }

.cv{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.description p{
    color: #000000;
}

.cv img, .description img{
    width: 40%;
    height: 75%;
}
.description{
    width: 50%;
    height: 100%;
}


/* filter */

.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10%;
}
.filtre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 70%;
}
.filtre h4{
    margin-bottom: 0;
    transition-duration: 0.5s;
}
.filtre h4:hover{
    color: white;
    cursor: pointer;
}
.project{
    z-index: 1;
    background-color: #2d2d31;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.project-me{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 90%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 70%;
    border-radius: 12px;
    margin-top: 3%;
    position: absolute;
}
.hero-section{
    align-items: flex-start;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }
  .card-grid{
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
    width: 100%;
    height: 80%;
  }

  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;

    width: 100%;
  }
  .card-grid a{
    text-decoration: none;
  }
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding-left: 25px;
    padding-top: 25px;
    position: relative;
    top: 0;
  }
  
  .card__category p{
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  
  .card__heading{
    color: white;
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
  }
  .Description{
    margin-top: 100%;
    color: #3a3e74;
  }


.contact{
    z-index: -1;
    background-color: #2d2d31;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 30px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 (#001b2a);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    color: #ffffff;
    border-radius: 10px;
    height: 70%;
  }
  form h1 {
    font-size: 20px;
    color: #747cdf;
  }
  form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    color: #000000;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #000000;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }

  footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color: #2d2d31;
  }
    footer .reseaux{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
  }
  footer a{
    width: 7%;
    height: 40%;
  }
  footer img{
    width: 85px;
    height: 85px;
  }
  
  /*Stying for small screens*/
@media screen and (max-width: 920px){
    nav{
        position: fixed;
        z-index: 100;
        color: white;
    }
    .nav-links li a{
        color: #000000;
        text-decoration: none;
        margin: 0 0.7vw;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #ffffff;
        height: 100%;
        width: 100vw;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    .portfolio{
        display: none;
    }
    
    .me{
        flex-direction: column;
        margin-top: 30%;
    }
    .me .nom{
        width: 100%;
        justify-content: center;
    }
    .me .reseaux{
        display: none;
    }
    .me .photo-moi{
        display: none;
    }
    .container-me2{
        width: 90%;
    }
    .container-me2 .titre-me{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .container-me2 img{
        grid-column: 4/6;
        grid-row: 2/5;
    }
    .container-me2 .titre-me img {
        margin-left: 0%;
    }
    .texte1{
        margin-top: 0%;
        grid-column: 1/4;
        grid-row: 2/5;
        overflow: scroll;
        text-overflow: clip;
    }
    .texte1 h2{
        font-size: 15px;
    }
    .texte1 p{
        font-size: 12px;
    }
    .filter{
        display: flex;
        flex-direction: column;
    }
    .filter h3{
        font-size: 15px;
    }
    .filter h4{
        font-size: 10px;
    }
    form .corps-formulaire .droite {
        margin-left: 0px;
      }

      footer a{
        width: 22%;
        height: 40%;
      }

    .project-me{
        width: 80%;
        height: 100%;
    }
    .container{
        height: 100%;
    }
      .card-grid{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    height: 80%;
      }
      .card-grid a{
        text-decoration: none;
      }
      .card{
        width: 100%;
        height: 100%;
      }
      .card h3{
        font-size: 12px;
      }
      .card__category{
        font-size: 8px;
      }
      .card__heading{
        color: white;
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
        line-height: 1.4;
      }
      .card__content{
        padding-left: 10px;
        padding-top: 10px;
      }
      .Description{
        font-size: 9px;
        margin-top: 10%;
      }
      form{
        margin-top: 5%;
        width: 80%;
        height: 100%;
      }
      form .corps-formulaire{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      form .corps-formulaire .droite {
        width: 90%;
        height: 90%;
      }
      form .corps-formulaire .droite .groupe{
        height: 100%;
      }
      form .corps-formulaire .gauche {
        width: 90%;
      }

      footer{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        background-color: #2d2d31;
      }
        footer .reseaux{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      footer a{
        width: 7%;
        height: 40%;
      }
      footer img{
        width: 45px;
        height: 45px;
      }
}